@font-face {
  font-family: 'Futura Condensed Medium';
  src: url('./futura-condensed-medium.otf');
}

html, body {
  margin: 0;
  padding: 0;
}

#pathologic {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#right-body {
  position: absolute;
  width: 400px;
  margin-left: 850px;
}

#blur-test {
  font-size: 75px;
  font-weight: thin;
  font-family: 'Futura Condensed Medium', sans-serif;
  opacity: 0;
  color: transparent;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  transition: opacity 1s linear, text-shadow 1s ease-in;
  letter-spacing: -0.03em;
}

#blur-test:hover {
  opacity: 1;
  text-shadow: 0 0 0px rgba(0, 0, 0, 1);
}
