<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Pathologic</title>

  <link rel="stylesheet" type="text/css" href="/static/game.css">
</head>

<body>
  <div id="right-body">
    <div id="blur-test">pathologic</div>
    <button onClick="board.animateShortestPath();">Show Route</button>
  </div>

  <script src="/static/utils.js" type="text/javascript"></script>
  <script src="/static/pathologic.js" type="text/javascript"></script>
  <script type="text/javascript">
    let canvas = utils.createHiDPICanvas(1024, 640);
    canvas.id = 'pathologic';
    document.body.insertBefore(canvas, document.getElementById('right-body'));

    // X - wall
    // B - block
    //   - valid route
    // - - empty space
    // S, E - start, end
    let puzzleJson = {
      'board': [
        '-XXXXXXXXXX-',
        'XX       EXX',
        'X   XXXXX XX',
        'S           ',
        'X   XXXXX XX',
        'XX        XX',
        '-XXXXXXXXXX-',
      ],
      maxBlocks: 6
    };

    let elem = document.getElementById('pathologic');;
    let board = new Board(puzzleJson, elem);
    board.draw();
  </script>
</body>
</html>
